.fadeIn {
    animation: fadeInAnime .3s ease 0s 1 normal forwards;
}

.fadeOut {
    animation: fadeOutAnime .3s ease 0s 1 normal forwards;
}

@keyframes fadeInAnime {
    from {
        visibility: visible;
        opacity: 0;
    }

    to {
        visibility: visible;
        opacity: 1;
    }
}

@keyframes fadeOutAnime {
    from {
        visibility: visible;
        opacity: 1;
    }

    to {
        visibility: hidden;
        opacity: 0;
    }
}
