* {
  margin: 0px;
  padding: 0px;
}

html {
  -webkit-text-size-adjust: 100%;
}

main {
  padding-top: 50px;
}

body,
body::after {
  background-color: #cce4ff;
}

body::after {
  content: "";
  display: block;
  width: 100%;
  height: 50%;
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: -2;
}

footer {
  border-top: 1px solid #333;
  font-size: 10px;
  color: #666666;
  text-align: center;
}

#header {
  width: 60%;
  height: auto;
  overflow: hidden;
  position: relative;
  left: 0px;
  right: 0px;
  margin: 0 auto;
  aspect-ratio: 16/9;
}

#header img {
  width: 100%;
  height: auto;
  position: absolute;
  z-index: -1;
  animation: headerImageAnime 40s linear 0s infinite normal forwards;
}

#header img:nth-of-type(2) {
  animation-delay: 10s;
}

#header img:nth-of-type(3) {
  animation-delay: 20s;
}

#header img:nth-of-type(4) {
  animation-delay: 30s;
}

.sub_title {
  text-align: center;
  border-top: 2px solid #333;
  border-bottom: 2px solid #333;
}

.content {
  text-align: center;
}

.background::before {
  background: linear-gradient(170deg, #ffd9fe 0%, #ffd9fe 50%, #cce4ff 50%, #cce4ff 100%);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  content: "";
  height: 100vh;
  left: 0;
  top: 0;
  position: fixed;
  width: 100%;
  z-index: -1;
}

.background span {
  display: inline-block;
  position: fixed;
  transition: all .4s;
  height: 1px;
  width: 100vw;
  z-index: -1;
}

.background span:nth-of-type(1) {
  background: #007aff;
  transform: rotate(-33deg) translateX(60vw);
  animation: bgLine1Anime 5s linear 0s infinite normal forwards;
}

.background span:nth-of-type(3) {
  background: #007aff;
  top: 25%;
  transform: rotate(16deg) translateX(110vw);
  animation: bgLine3Anime 4s linear 4s infinite normal forwards;
}

.background span:nth-of-type(2) {
  background: #ff7aff;
  top: 100%;
  transform: rotate(-33deg) translateX(-60vw);
  animation: bgLine2Anime 5s linear 2s infinite normal forwards;
}

.background span:nth-of-type(4) {
  background: #ff7aff;
  top: 75%;
  transform: rotate(16deg) translateX(-110vw);
  animation: bgLine4Anime 4s linear 6s infinite normal forwards;
}

.bar,
.navigationButton,
#navigation {
  background: white;
  position: fixed;
  width: 100%;
  height: 50px;
  top: 0;
  right: 0;
  z-index: 30;
}

.bar {
  box-shadow: 0px 0px 8px gray;
}

.bar a img {
  width: auto;
  height: 100%;
}

.fadeIn {
  animation: fadeInAnime .3s ease 0s 1 normal forwards;
}

.fadeOut {
  animation: fadeOutAnime .3s ease 0s 1 normal forwards;
}

@media screen and (max-width: 699px) {
  #navigation {
    text-align: center;
    font-size: 0px;
    background-color: rgba(0, 0, 0, 0.5);
    height: 100%;
    top: 50px;
    visibility: hidden;
    opacity: 0;
  }

  #navigation li {
    display: inline-block;
    letter-spacing: -0.001px;
    width: 50%;
    max-width: 300px;
  }

  #navigation li a,
  #navigation li span {
    display: inline-block;
    text-decoration: none;
    font-size: 20px;
    padding: 20px 0px;
    margin: 20px 0px;
    font-weight: bold;
    letter-spacing: normal;
    color: black;
    width: 70%;
  }

  #navigation li a {
    background: linear-gradient(170deg, #ffd9fe 0%, #ffd9fe 50%, #cce4ff 50%, #cce4ff 100%);
  }

  #navigation li span,
  #navigation li a:hover {
    background: linear-gradient(170deg, #ffd9fe 0%, #ffd9fe 50%, #cce4ff 50%, #cce4ff 100%);
  }

  .navigationButton {
    width: 50px;
    cursor: pointer;
  }

  .navigationButton span {
    display: inline-block;
    transition: all .4s;
    position: absolute;
    left: 14px;
    height: 3px;
    border-radius: 2px;
    width: 45%;
    box-shadow: 0px 0px 2px black;
  }

  .navigationButton span:nth-of-type(1) {
    top: 15px;
    z-index: 31;
    background: #cce4ff;
  }

  .navigationButton span:nth-of-type(2) {
    top: 23px;
    background: gray;
  }

  .navigationButton span:nth-of-type(3) {
    top: 31px;
    background: #ffd9fe;
  }

  .navigationButton.active span:nth-of-type(1) {
    top: 18px;
    left: 16px;
    transform: translateY(6px) rotate(45deg);
    width: 40%;
  }

  .navigationButton.active span:nth-of-type(2) {
    opacity: 0;
  }

  .navigationButton.active span:nth-of-type(3) {
    top: 30px;
    left: 16px;
    transform: translateY(-6px) rotate(-45deg);
    width: 40%;
  }
}

@media screen and (min-width: 700px) {
  #navigation {
    text-align: right;
    font-size: 0px;
    background-color: rgba(0, 0, 0, 0.0);
    height: 50px;
  }

  #navigation li {
    display: inline-block;
    text-align: left;
    letter-spacing: -0.001px;
    margin: 11px 4%;
  }

  #navigation li a,
  #navigation li span {
    display: inline-block;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: normal;
    color: black;
  }

  .navigationButton,
  .navigationButton span,
  .navigationButton span:nth-of-type(1),
  .navigationButton span:nth-of-type(2),
  .navigationButton span:nth-of-type(3),
  .navigationButton.active span:nth-of-type(1),
  .navigationButton.active span:nth-of-type(2),
  .navigationButton.active span:nth-of-type(3) {
    visibility: hidden;
  }
}

@keyframes fadeInAnime {
  from {
    visibility: visible;
    opacity: 0;
  }

  to {
    visibility: visible;
    opacity: 1;
  }
}

@keyframes fadeOutAnime {
  from {
    visibility: visible;
    opacity: 1;
  }

  to {
    visibility: hidden;
    opacity: 0;
  }
}

@keyframes headerImageAnime {

  0% {
    opacity: 1;
    z-index: 1;
    transform: scale(1.2);
  }

  28% {
    opacity: 1;
  }

  30% {
    opacity: 0;
    z-index: 2;
    transform: scale(1);
  }

  31% {
    opacity: 0;
    z-index: 0;
    transform: scale(1.2);
  }
}

@keyframes bgLine1Anime {

  0%,
  80% {
    transform: rotate(-33deg) translateX(60vw);
  }

  100% {
    transform: rotate(-33deg) translateX(-160vw);
  }
}

@keyframes bgLine2Anime {

  0%,
  80% {
    transform: rotate(-33deg) translateX(-60vw);
  }

  100% {
    transform: rotate(-33deg) translateX(160vw);
  }
}

@keyframes bgLine3Anime {

  0%,
  80% {
    transform: rotate(16deg) translateX(110vw);
  }

  100% {
    transform: rotate(16deg) translateX(-110vw);
  }
}

@keyframes bgLine4Anime {

  0%,
  80% {
    transform: rotate(16deg) translateX(-110vw);
  }

  100% {
    transform: rotate(16deg) translateX(110vw);
  }
}
